#PnO Configurations
System.3DSpaceURL=http://localhost:8070/internal/
User.SecurityContext=VPLMAdmin.Company Name.Default
PnO.LicenseSetting=FALSE
# Transaction-mode Indicates how modifications should be committed to the database. Possible values are: global,intermediate,local, default is intermediate
PnO.TransactionMode=
# Indicates the size of transaction when -transaction-mode is set to intermediate. The default size is 50.
PnO.TransactionSize=

#Widget Configurations
System.3DSpaceCASURL=https://sjc01en3apapd01.corp.lucid.lcl:447/3DSpace
System.3DDashboardURL=https://sjc01en3apapd01.corp.lucid.lcl:446/3DDashboard
System.PassportURL=https://sjc01en3apapd01.corp.lucid.lcl:444/3DPassport

#When enabled replaces the widget urls hostname from appsName.json with Widget.Service.Hostname setting value in widget url of current environment. Default value is FALSE .
Widget.EnableURLReplace=FALSE
Widget.Service.Hostname=

#Schema Export Import Configurations
# list of schema elements to be skipped during full spinner export
#System.lsSkipSchemaExtraction=

# list of subdirectories for sequenced builds (e.g. [list Spinner1 Spinner2 ""]
# Note: "" is current working directory.  In example, ./Spinner/Spinner1 is run first,
# ./Spinner/Spinner2 second, ./Spinner last.  Read Schema_Agent.htm for usage 
#System.lsSubDirSequence=

#Specify Log folder path to generate logs during extract/import.
#System.sLogDir=

#Interface are delimited by pipe(|),Import Interface irrespective of it is governed by Unified
#GlobalConfig.UnifiedTyping.Exceptional.Interface=   

#Relationship are delimited by pipe(|),Import Relationship irrespective of it is governed by Unified Typing rule
#GlobalConfig.UnifiedTyping.Exceptional.Relationship= 

#GlobalConfig.TypeList=

# Package export formats. Possible values are: metadata and zip . default is metadata
PackageExportFormat= metadata
GlobalConfig.UnifiedTyping.DeleteAbsent=FALSE

#Configuration Export import Configurations. Possible values are: true and false . default is false
Configuration.deploy=false

#Hidden settings for the CSE and Baseline mode.
GlobalConfig.CSE.Exception.Relationship=LCD_SAPBOMInterface

