.container {
  width: 100%;
  padding: 0px;
  /* margin-right: auto; */
  /* margin-left: auto; */
}
#title {
  background: #eceff1;
  color: rgb(78, 77, 77);
  border: 1px solid grey;
  max-width: 100%;
  text-align: center;
  margin: 2px;
}
#tabs {
  background: #eceff1;
  color: #005685;
  margin: 10px;
  padding: 0;

  /* border: 1px solid grey; */
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
.v-data-table>.v-data-table__wrapper>table {
  width: 100%;
  border-spacing: 0;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  /* background-color: #1976d2; */
  background-color: #005685;
  color: #f5f5f5;
  min-width: 10px !important;
}
.mdi-magnify-expand::before {
  content: "\F1874";
  color: white;
}
#searchbtn {
  display: block !important;
  border-radius: 11px;
  /* margin: 0% 0% 0% 18%; */
  /* background-color: #EEEEEE !important; */
  margin-bottom: 15px !important;
  color: white;
  /* margin-top: 10px !important; */
}
.v-tabs:not(.v-tabs--vertical) .v-tab {
  white-space: normal;
  border-radius: 14px;
  width: 100%;
  height: 40px;
  margin-left: 0;
}
#tabdiv {
  margin-left: 0;
  height: 52px;
}
.v-application p {
  margin-bottom: 0;
}
.v-application .black--text {
  /* color: #000!important;
    caret-color: #000!important; */
  height: 40px !important;
}
.v-text-field__details {
  display: none;
  /* flex: 1 0 auto; */
  max-width: 0%;
  min-height: 00;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  /* margin: 0px !important; */
}
.v-text-field.v-input--has-state
  .v-input__control
  > .v-text-field__details
  > .v-counter,
.v-text-field.v-input--is-disabled
  .v-input__control
  > .v-text-field__details
  > .v-counter,
.v-text-field.v-input--is-disabled
  .v-input__control
  > .v-text-field__details
  > .v-messages,
.v-text-field .v-input__control,
.v-text-field fieldset {
  /* color: currentColor; */
  width: 410px;
}
.v-application .blue {
  background-color: #005685 !important;
  border-color: #005685 !important;
}
.globalsearch{
  color: rgba(0, 0, 0, 0.87);
  /* width: 0%; */
  max-width: 420px !important;
  min-width: 290px !important;
}
.buttons {
  /* margin-left: 500px !important; */
  margin-right: 10px !important;
  margin-top: 10px !important;
  /* background-color: #1976d2 !important; */
  background-color: #005685 !important;
  /* color: white !important; */
  border-radius: 11px;
  color: white !important;
}
.v-tab {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 0 1 auto;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.0892857143em;
  line-height: normal;
  min-width: 40px;
  max-width: 300px;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid grey;
  margin-right: 50px;
  background-color: #f5f5f5;
}
.active {
  /* color: #222222 !important; */
  /* background-color: #ffff !important; */
  border: 2px solid black !important;
}

.v-application .grey.lighten-2 {
    border: 1px solid grey !important;
}
.v-application .yellow.lighten-2 {
    border: 1px solid grey !important;
}
.v-application .blue.lighten-2 {
    border: 1px solid grey !important;
}
.v-application .green.lighten-2 {
    border: 1px solid grey !important;
}
.v-application .red.lighten-2 {
    border: 1px solid grey !important;
}
.v-data-footer__select {
  width: 70px !important;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, hgroup, i, iframe, img, ins, kbd, label, legend, mark, nav, nav li, nav ul, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: middle !important;;
}
.v-snack{
  height: auto !important;
  align-items: flex-end;
  position: relative !important;
  flex-direction: column;
}
h1{
  margin: 0.5%;
}
.snackbar_div{
  position:fixed; 
  z-index: 1000; 
  display: inline;
  left: 82%;
  top: 5%;
}
.space{
  margin-left: 22px;
}
.v-text-field .v-input__icon--clear {
  opacity: 1;
  transition: opacity .3s cubic-bezier(.25,.8,.5,1);
}
/* .v-snack--top{
  top:5%;
} */